<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"> 
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>ErM</title>
</head>

<body ng-app="app">

      

  <div ng-controller="DesignerController as designer">
	
    <md-card draggable ng-repeat="table in designer.model.tables" flex='noshrink' style='width:300px'>
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">{{table.name}}</span>
			</md-card-title-text>
		</md-card-title>
		

		<md-card-content layout="row" layout-align="space-between">
			
			<div flex>
				<table>
					<tr ng-repeat="tableColumn in table.columns">
						<td><i class="material-icons md-18">vpn_key</i></td>
						<td>{{tableColumn.name}}</td>
						<td>{{tableColumn.datatype.type}}</td>
					</tr>
				</table>
			</div>
			
			<md-card-actions layout="column">
				<md-button class="md-icon-button md-primary" aria-label="Settings" ng-click='designer.showAdvanced($event)'>
					<md-icon class="material-icons">edit</md-icon>
				</md-button>
			</md-card-actions>			
			
		</md-card-content>
		
		
		
	</md-card>	
</div>
</div>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-messages.min.js"></script>
  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <script src="app.module.js"></script>
  <script src="app.config.js"></script>
  <script src="designer/designer.factory.js"></script>
  <script src="designer/designer.controller.js"></script>
  <script src="designer/table-editor.controller.js"></script>
  <script src="layout/draggable.directive.js"></script>
 
  
  
</body>
</html>
